# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.turbo/
.next/
dist/
build/
out/
venv/
.env*/

# Secrets & Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.pem
*.key
cert.t7

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
settings.json
.vercel/
.turbo/
coverage/
.pytest_cache/
__pycache__/
*.py[cod]
__pycache__/
*.pyc